body{
	font-family: arial;
	background: lightpink;
}

.text-center {
	text-align: center;
}
h1 {
	color: orange;
	font-size: 40px;
}
h2, h3, h4 {
	font-size: 40px;
}

.color-pink {
	color: #ffacb7;

}
ul, ol, h4, h5{
	text-align: left;
}

.text-left {
	text-align: left;

}
.img1 {
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.cadre { 
  background: lightblue; 
  border: 5px solid lightgreen ;
  margin: 100px;
  padding: 25px;
  border-radius: 30px
  box-shadow: 10px 10px 10px grey;
  }
.productions {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.btn-pink {
	display: inline-block;
	background: lightpink;
	padding: 15px;
	margin: 15px;
	border: 2px solid pink;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

.btn-pink:hover {
background: red;
}

.line-transparent {
	background: black;
	color:white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.line-dark{
	background: purple;
	width: 50% ;
	height: 10px;
}
.line-medium {
	background: red;
	width: 30% ;
	height: 10px;
}
.line-light {
	background:  orange;
	width: 20%;
	height: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #9F3442;
}

.link:hover {
  color: #458D2E;
}

.display-flex {
	display: flex;
	justify-content: center;
}

.margin-100px {
	margin: 100px;
}